## Privacy HUB data Analysis

This is toy data which has been created within Privacy Hub and does not reflect any real people. The dataset includes a number of variables relating to physical attributes, hobbies and a ‘token’ which is used to distinguish one patient from another. A token is a value which is created from any one or more input values. It looks nonsensical (as it is a ‘hash’) and cannot be re-engineered to the original value.

### INITIAL OBSERVATIONS AND INFERENCE FROM DATASET
- The dataset includes columns for various attributes such as token, name,surname, sex, age, height, weight.kg, eyecolour, test.group, hobbies, and marstat (marital status).
- The dataset contains a mix of numerical (age, height, weight.kg, test.group) and categorical (sex, eyecolour, hobbies, marstat) data.
- The variable 'test.group' is not clearly defined in the dataset. This lack of clarity might hinder precise analysis.
- Misallignment in the data because of missing values.
- The absence of standardization in the 'sex' and 'marstat' column.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
data = 'DA_TaskSheet_Hobbies (1) (1).txt'
dataset = pd.read_csv(data)

In [4]:
colomn_names=['token','name','surname','sex','age','height','weight.kg', 'eyecolour', 'test.group', 'hobbies', 'marstat']

In [6]:
# Read the entire file into a DataFrame
df = pd.read_csv(data, delim_whitespace=True, nrows=1)
# Extract column names from the first row
column_names = df.columns.tolist()

C:\Users\AhmedShafique\AppData\Local\Temp\ipykernel_16420\640884193.py:2: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  df = pd.read_csv(data, delim_whitespace=True, nrows=1)

In [8]:
df.describe()

        age  height  weight.kg  test.group
count   1.0    1.00        1.0         1.0
mean   31.0    1.81       96.6         1.0
std     NaN     NaN        NaN         NaN
min    31.0    1.81       96.6         1.0
25%    31.0    1.81       96.6         1.0
50%    31.0    1.81       96.6         1.0
75%    31.0    1.81       96.6         1.0
max    31.0    1.81       96.6         1.0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   token       1 non-null      object
 1   name        1 non-null      object
 2   surname     1 non-null      object
 3   sex         1 non-null      object
 4   age         1 non-null      int64
 5   height      1 non-null      float64
 6   weight.kg   1 non-null      float64
 7   eyecolour   1 non-null      object
 8   test.group  1 non-null      int64
 9   hobbies     1 non-null      object
 10  marstat     1 non-null      object
dtypes: float64(2), int64(2), object(7)
memory usage: 216.0+ bytes