## Lab Session 4
### Lab Outcomes
In this lab session you will learn how to:
* Implement linear regression with one variable
* Configure it with pandas 
* Use complex and larger dataset in linear regression with one variable

Use the `Housing.csv` file as dataset and import it with `pandas`

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

C:\Users\AhmedShafique\AppData\Local\Temp\ipykernel_7844\2151744951.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df = pd.read_csv("Housing.csv")
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

We need first two columns like `price` and `area` . So, let first make two variables.

In [5]:
x_train = df.iloc[:, 1]
y_train = df.iloc[:, 0]

In [7]:
print(f"X as sizes of houses: {x_train}")
print(f"Y as sizes of prices: {x_train}")

X as sizes of houses: 0      7420
1      8960
2      9960
3      7500
4      7420
       ...
540    3000
541    2400
542    3620
543    2910
544    3850
Name: area, Length: 545, dtype: int64
Y as sizes of prices: 0      7420
1      8960
2      9960
3      7500
4      7420
       ...
540    3000
541    2400
542    3620
543    2910
544    3850
Name: area, Length: 545, dtype: int64

In [8]:
w = 100
b = 100

we are going to compute  `compute_model` function

In [9]:
def compute_model_func(x, w, b):
    # number of training examples
    m = np.shape(m)[0]
    f_wb = np.zeros(m)
    for i in range(m):
        f_wb[i] = w * x[i] + b
    return f_wb

now its time to plot the Linear Regression `Model` function to check the output on larger dataset

In [10]:
plot_output = compute_model_func(x_train, w, b)
# ploting prediction line
plt.plot(x_train, plot_output, c='b', label= 'Predcition')
# data points
plt.scatter(x_train, y_train, marker='x', c='r', label='Actual data')
plt.title("Housing Prices")
# Set the y-axis label
plt.ylabel('Price (in 1000s of dollars)')
# Set the x-axis label
plt.xlabel('Size (1000 sqft)')
plt.legend()
plt.show()

NameError: name 'compute_model' is not defined