In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('employee_salary.csv')
print(df.describe())

              ID  Experience_Years        Age        Salary
count  35.000000          35.00000  35.000000  3.500000e+01
mean   18.000000           9.20000  35.485714  2.059147e+06
std    10.246951           7.55295  14.643552  3.170124e+06
min     1.000000           1.00000  17.000000  3.000000e+03
25%     9.500000           2.50000  22.500000  2.250000e+04
50%    18.000000           6.00000  29.000000  2.500000e+05
75%    26.500000          15.00000  53.500000  3.270000e+06
max    35.000000          27.00000  62.000000  1.000000e+07

In [5]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                35 non-null     int64
 1   Experience_Years  35 non-null     int64
 2   Age               35 non-null     int64
 3   Gender            35 non-null     object
 4   Salary            35 non-null     int64
dtypes: int64(4), object(1)
memory usage: 1.5+ KB
None

In [9]:
x = df.iloc[:,1]
y = df.iloc[:,4]

In [10]:
print(x)

0      5
1      1
2      3
3      2
4      1
5     25
6     19
7      2
8     10
9     15
10     4
11     6
12    14
13    11
14     2
15     4
16    10
17    15
18     2
19    10
20    15
21     4
22     5
23     1
24     4
25     3
26     1
27    27
28    19
29     2
30    10
31    15
32    20
33    19
34    16
Name: Experience_Years, dtype: int64

In [11]:
print(y)

0       250000
1        50000
2       170000
3        25000
4        10000
5      5001000
6       800000
7         9000
8        61500
9       650000
10      250000
11     1400000
12     6000050
13      220100
14        7500
15       87000
16      930000
17     7900000
18       15000
19      330000
20     6570000
21       25000
22     6845000
23        6000
24        8900
25       20000
26        3000
27    10000000
28     5000000
29        6100
30       80000
31      900000
32     1540000
33     9300000
34     7600000
Name: Salary, dtype: int64